body {
    display: flex;
    flex-direction: column;
}

.heading {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
}