body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.heading {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 125px;
}

ul {
    list-style: none;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    padding: 20px 40px;

}

li {
    padding: 12px;
}